body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Vertikale Anordnung */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D5FFF3;
}

.container div {
    text-align: center;
    flex-direction: column;
    align-items: center;
}

a {
.container a {
    text-decoration: none;
}

.impressum p {
    text-align: center;
    color: #672A4E;
}

.impressum a {
    color: #672A4E;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer a {
    color: #af9ab2;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: small;
    background-color: #C7EDE4;
    color: #af9ab2;
    text-align: center;
}

a h1:hover {
    background-color: #672A4E;
    color: white;
}

h1 {
    font-size: xxx-large;
    text-align: center;
    margin: 40px;

    /*color: #672a4e;*/

    color: #D5FFF3;
    background-color: #820b8a;
    border-radius: 50%;
    padding: 30px;

    /*color: #AF9AB2;*/
    /*background-color: #820b8a;*/
    /*border-radius: 40px;*/
    /*padding: 20px;*/

    /*background-color: #C7EDE4;*/
    /*color: #820b8a;*/
    /*border-radius: 40px;*/
    /*padding: 20px;*/
}

input::placeholder{
    color:#AF9AB2;
    text-align: center;
}

.container p {
    font-size: x-large;
    color: #672A4E;
}

input {
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    color: black;
    border: 3px solid #672A4E;
}

.menu-button {
    margin: 10px;
    background-color: #672A4E;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    color: white;
    border: none;
    text-decoration: none;
}

.toggle-button {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    /*border: none;*/
    border: 3px solid transparent;
    text-decoration: none;
}

.toggle-button:hover {
    border: 3px solid lightgray;
}

.is-off {
    background-color: #af9ab2;
    color: gray;
}

.is-active {
    color: #D5FFF3;
    background-color: #672A4E;
}

.menu-button:hover {
    background-color: #820b8a;
    color: #D5FFF3;
}

input[type="radio"]{
    display: none;
}

label {
    margin: 10px;
    /*background-color: #C7EDE4;*/
    background-color: #af9ab2;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    color: #672A4E;
    border: 3px solid transparent;
    text-decoration: none;
}

#moduswahl {
    margin: 10px;
}

input[type="radio"]:checked + label{
    /*background-color: #C7EDE4;*/
    background-color: #af9ab2;
    border: 3px solid #672A4E;
}

label:hover {
    border: 3px solid #820b8a;
    /*color: #D5FFF3;*/
}