body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Vertikale Anordnung */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D5FFF3;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: small;
    background-color: #C7EDE4;
    color: #af9ab2;
    text-align: center;
}

h1 {
    font-size: xxx-large;
    text-align: center;
    margin: 40px;

    /*color: #672a4e;*/

    color: #D5FFF3;
    background-color: #820b8a;
    border-radius: 50%;
    padding: 30px;

    /*color: #AF9AB2;*/
    /*background-color: #820b8a;*/
    /*border-radius: 40px;*/
    /*padding: 20px;*/

    /*background-color: #C7EDE4;*/
    /*color: #820b8a;*/
    /*border-radius: 40px;*/
    /*padding: 20px;*/
}

input::placeholder{
    color:#AF9AB2;
    text-align: center;
}

#anweisung {
    font-size: x-large;
    color: #672A4E;
}

input {
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    color: black;
    border: 3px solid #672A4E;
}

a, button {
    margin: 10px;
    background-color: #672A4E;
    padding: 5px;
    border-radius: 10px;
    font-size: x-large;
    color: white;
    border: none;
    text-decoration: none;
}

a:hover, button:hover {
    background-color: #820b8a;
    color: #D5FFF3;
}