<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="/static/game.css">
</head>

<body>
<nav id="navbar">
    <a id="link2home" href="http://youtu.be/dQw4w9WgXcQ">
        <h1>WORDLE ONLINE</h1>
    </a>
</nav>
<div class="game">
    <div class="wordle-board">
        <!-- hier Tiles -->
    </div>
    <div class="keyboard">
        <!-- Keyboard buttons hinzufügen? -->
    </div>
<!--    <div id="arrayDisplay"></div> Debugzahlen-->
    <input type="text" autocomplete="off" onchange="sendGuessHTTP()" name="guess" id="guess">
    <input id="send-guess" type="button" value="Guess" onclick="sendGuessHTTP()">
    <p id="gameover" style="display: none">Game Over!</p>
<!--    <input type="checkbox" id="dailyCheck">-->
</div>

<footer>
    <p>Impressum type shi</p>
</footer>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    const rows = 6;
    const cols = 5;
    const colorArray = [];
    const letterArray = [];
    const socket = io();
    let tries = 0;
    let word = document.getElementById("guess").value;

    const gameId = new URLSearchParams(window.location.search).get('id');
    const port = window.location.port;
    const host = window.location.hostname;
    const playerName = new URLSearchParams(window.location.search).get('name'); // Get player name
    const slider = new URLSearchParams(window.location.search).get('daily');

    document.getElementById("link2home").setAttribute("href",`http://${host}:8080`)

    for (let i = 0; i < rows; i++) {
        colorArray[i] = []; // Erstelle eine neue Zeile (inneres Array)
        letterArray[i] = []; // Erstelle eine neue Zeile (inneres Array)
        for (let j = 0; j < cols; j++) {
            colorArray[i][j] = 0;
            letterArray[i][j] = '';
        }
    }

    socket.on('updateAll', (send) => {
        updateBoard(send.daten,send.word,send.tries);
    })

    const board = document.querySelector('.wordle-board');
    // erstellt die Tiles
    for (let row = 0; row < rows; row++) {
        for (let col = 0; col < cols; col++) {
            const tile = document.createElement('div');
            tile.classList.add('tile');
            board.appendChild(tile);
        }
    }

    function updateBoard(data,word,tries){

        for (let i = 0; i < colorArray[tries].length; i++) {
            colorArray[tries][i] = data[i];
            letterArray[tries][i] = word[i];
        }
        board.replaceChildren(); // Entfernt alle Kindelemente
        for (let row = 0; row < rows; row++) {
            for (let col = 0; col < cols; col++) {
                const tile = document.createElement('div');
                tile.textContent = letterArray[row][col];
                tile.classList.add('tile');
                if (colorArray[row][col] == 1) tile.classList.add('tileabsent');
                if (colorArray[row][col] == 2) tile.classList.add('tilepresent');
                if (colorArray[row][col] == 3) tile.classList.add('tilecorrect');
                board.appendChild(tile);
            }
        }
    }

    function sendGuessHTTP() {
        word = document.getElementById("guess").value;
        if(word.length!==5) return;
        document.getElementById("guess").value = "";
        if(slider){
            console.log("Daily")
            fetch("/guessDaily",{
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    gameId: gameId,
                    guess: word,
                    playerName: playerName,
                })
              }).then(response => response.json())
                .then(data => {
                    console.log("GameOver -> " + data.gameOver)
                    gameOverScreen();
                    word = '';
                    document.getElementById("guess").value = "";
                })
                .catch(error => console.error('Fehler beim Abrufen der Daten (bei Daily):', error));
        }else{
            fetch("/guess", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    gameId: gameId,
                    guess: word,
                    playerName: playerName,
                })
            }).then(response => response.json())
                .then(data => {
                    console.log("GameOver -> " + data);
                    gameOverScreen();
                    word = '';
                    document.getElementById("guess").value = "";
                })
                .catch(error => console.error('Fehler beim Abrufen der Daten (in tryWord):', error));
        }
    }

    function gameOverScreen(){
        document.getElementById("guess").style.display = "none";
        document.getElementById("send-guess").style.display = "none";
        document.getElementById("gameover").style.display = "block";
    }

</script>
</body>
</html>
