<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="/static/game.css">
</head>

<body>
<nav id="navbar">
    <a id="link2home" href="http://youtu.be/dQw4w9WgXcQ">
        <h1>WORDLE ONLINE</h1>
    </a>
    <button id="copy-id" onclick="copyId()">Game-ID: [id]</button>
</nav>
<div class="game">

    <div id="nebeneinander">
        <div id="eigenesSpielfeld">
            <h1>Dein Spielfeld</h1>
            <div class="wordle-board" id="board1">
                <!-- hier Tiles -->
            </div>
            <input style="display: none" type="text" autocomplete="off" onchange="sendGuessHTTP()" name="guess" id="guess">
            <input style="display: none" id="send-guess" type="button" value="Guess" onclick="sendGuessHTTP()">
        </div>
        <div id="gegnerSpieldfeld">
            <h1 id="gegnername">Warten...</h1>
            <div class="wordle-board" style="display: grid" id="board2">
                <!-- hier Tiles -->
            </div>
        </div>
        <!--        <div class="keyboard">-->
        <!--            &lt;!&ndash; Keyboard buttons hinzufügen? &ndash;&gt;-->
        <!--        </div>-->
    </div>

    <!--    <div id="arrayDisplay"></div> Debugzahlen-->
    <p id="gameover" style="display: none">Game Over!</p>
    <!--    <input type="checkbox" id="dailyCheck">-->
</div>

<footer>
    <p>Impressum type shi</p>
</footer>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    const rows = 6;
    const cols = 5;
    const colorArray = [];
    const letterArray = [];
    const socket = io();
    let tries = 0;
    let word = document.getElementById("guess").value;

    const gameId = new URLSearchParams(window.location.search).get('id');
    const port = window.location.port;
    const host = window.location.hostname;
    const playerName = new URLSearchParams(window.location.search).get('name'); // Get player name
    const slider = new URLSearchParams(window.location.search).get('daily');

    document.getElementById("link2home").setAttribute("href",`http://${host}:8080`)

    for (let i = 0; i < rows; i++) {
        colorArray[i] = []; // Erstelle eine neue Zeile (inneres Array)
        letterArray[i] = []; // Erstelle eine neue Zeile (inneres Array)
        for (let j = 0; j < cols; j++) {
            colorArray[i][j] = 0;
            letterArray[i][j] = '';
        }
    }

    socket.on('updateAll', (send) => {
        updateBoard(board1,send.daten,send.word,send.tries);
    })

    const board1 = document.getElementById("board1");
    const board2 = document.getElementById("board2");
    tilesErstellen(board1);
    tilesErstellen(board2);

    document.getElementById("copy-id").innerHTML = "Game-ID: " + gameId;

    function tilesErstellen(board){
        for (let row = 0; row < rows; row++) {
            for (let col = 0; col < cols; col++) {
                const tile = document.createElement('div');
                tile.classList.add('tile');
                board.appendChild(tile);
            }
        }
    }

    function updateBoard(board,data,word,tries){

        for (let i = 0; i < colorArray[tries].length; i++) {
            colorArray[tries][i] = data[i];
            letterArray[tries][i] = word[i];
        }
        board.replaceChildren(); // Entfernt alle Kindelemente
        for (let row = 0; row < rows; row++) {
            for (let col = 0; col < cols; col++) {
                const tile = document.createElement('div');
                tile.textContent = letterArray[row][col];
                tile.classList.add('tile');
                if (colorArray[row][col] === 1) tile.classList.add('tileabsent');
                if (colorArray[row][col] === 2) tile.classList.add('tilepresent');
                if (colorArray[row][col] === 3) tile.classList.add('tilecorrect');
                board.appendChild(tile);
            }
        }
    }

    function sendGuessHTTP() {
        word = document.getElementById("guess").value;
        if(word.length!==5) return;
        document.getElementById("guess").value = "";
        if(slider){
            console.log("Daily")
            fetch("/guessDaily",{
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    gameId: gameId,
                    guess: word,
                    playerName: playerName,
                })
            }).then(response => response.json())
                .then(data => {
                    console.log("GameOver -> " + data.gameOver)
                    gameOverScreen();
                    word = '';
                    document.getElementById("guess").value = "";
                })
                .catch(error => console.error('Fehler beim Abrufen der Daten (bei Daily):', error));
        }else{
            fetch("/guess", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    gameId: gameId,
                    guess: word,
                    playerName: playerName,
                })
            }).then(response => response.json())
                .then(data => {
                    console.log("GameOver -> " + data);
                    gameOverScreen();
                    word = '';
                    document.getElementById("guess").value = "";
                })
                .catch(error => console.error('Fehler beim Abrufen der Daten (in tryWord):', error));
        }
    }

    function gameOverScreen(){
        document.getElementById("guess").style.display = "none";
        document.getElementById("send-guess").style.display = "none";
        document.getElementById("gameover").style.display = "block";
    }

    function gegnerJoined(gegnername) {
        document.getElementById("guess").style.display = "block";
        document.getElementById("send-guess").style.display = "block";
        document.getElementById("gegnername").innerHTML = "Gegner: " + gegnername;
    }

    function copyId(){
        // Copy the text inside the text field
        navigator.clipboard.writeText(gameId);

        // Alert the copied text
        alert("ID in Zwischenablage kopiert!");
    }

</script>
</body>
</html>
