<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" type="text/css" href="/static/game.css">
</head>

<body>
<nav id="navbar">
    <a id="link2home" href="http://youtu.be/dQw4w9WgXcQ">
        <h1>WORDLE ONLINE</h1>
    </a>
    <button id="copy-id" onclick="copyId()">Game-ID: [id]</button>
</nav>

<div class="game">
    <div id="nebeneinander">
        <div id="eigenesSpielfeld">
            <h1>Dein Spielfeld</h1>
            <div class="wordle-board" id="board1">
                <!-- hier Tiles -->
            </div>
            <input style="display: none" type="text" autocomplete="off" onchange="sendGuessHTTP()" name="guess" id="guess">
            <input style="display: none" id="send-guess" type="button" value="Raten" onclick="sendGuessHTTP()">
        </div>
        <div id="gegnerSpieldfeld">
            <h1 id="gegnername">Warten...</h1>
            <div class="wordle-board" style="display: grid" id="board2">
                <!-- hier Tiles -->
            </div>
        </div>
        <!--        <div class="keyboard">-->
        <!--            &lt;!&ndash; Keyboard buttons hinzufügen? &ndash;&gt;-->
        <!--        </div>-->
    </div>

    <!--    <div id="arrayDisplay"></div> Debugzahlen-->
    <p id="error" style="display: none">Es gab einen Fehler...</p> <!-- Gamestate -1 -->
    <p id="gameover" style="display: none">Keine Versuche mehr!</p> <!-- Gamestate 0 -->
    <p id="enemy" style="display: none">Du verlierst!</p> <!-- Gamestate 1 -->
    <p id="won" style="display: none">Gewonnen!</p> <!-- Gamestate 2 -->
    <!--    <input type="checkbox" id="dailyCheck">-->
</div>

<footer>
    <p>
        <a id="homelink" href="/">Home</a> |
        <a id="impressumlink" href="/impressum">Impressum</a> |
        <a href="mailto://info@dhbw-karlsruhe.de">info@dhbw-karlsruhe.de</a>
    </p>
</footer>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="../static/1v1.js"></script>
</body>
</html>
