<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script type="text/javascript">
        var score=0;
        var multiplier=1;
        var upgradecost=20;

        function buttonPressed(){
            score = score + multiplier;
            document.getElementById("score").innerText = score;
        }
        function tryUpgrade(){
            if(score >= upgradecost){
                score = score - upgradecost;
                multiplier = Math.ceil(multiplier * 1.5);
                upgradecost = Math.ceil(upgradecost * 2);
            }else{
                alert("nicht genug Punkte")
            }
            loadScore();
        }

        function loadScore(){
            document.getElementById("upgradeCost").innerText = upgradecost;
            document.getElementById("score").innerText = score;
        }

        function getFieldValue(){
            var username = document.getElementById("username").value;

            new GithubUser(username).download();
        }
    </script>
</head>
<body>
<h1>Home</h1>

<a href="http://localhost:8080/test">test</a>
<br>
<a href="http://localhost:8080/game">spielen</a>

<div>
    <h2>Knopf</h2>
    <button onclick="buttonPressed()">Knopf</button>
    <p>Knöpfe Drücken macht Spaß</p>
    <p id="score"></p>
</div>
<div>
    <h2>upgrade: </h2>
    <button onclick="tryUpgrade()">Upgrade</button>
    <p id="upgradeCost"></p>
</div>
</body>
</html>