<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lobby-and-home.css">
    <title>Home</title>
</head>

<body>

<!--<a href="http://localhost:8080/">-->
    <h1>WORDLE<br><em>online</em></h1>
<!--</a>-->

<a class="menu-button" href="http://localhost:8080/game">Spielen</a>
<a class="menu-button" href="http://localhost:8080/lobby">Lobby</a>
<a class="menu-button" href="http://localhost:8080/login">Login</a>

<footer>
    <p>Impressum type shi</p>
</footer>

</body>
</html>