<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/lobby-and-home.css">
    <title>Title</title>
</head>
<body>

<div class="impressum">
    <h1>Impressum</h1>
    <p>
        <b>Kontakt</b><br>
        DHBW Karlsruhe<br>
        Erzbergerstraße 121<br>
        76133 Karlsruhe<br>
    </p>
    <p>
        <b>Telefon</b><br>
        <a href="tel:+4972197355">+49.721.9735-5</a>
    </p>
    <p>
        <b>Email</b><br>
        <a href="mailto://info@dhbw-karlsruhe.de">info@dhbw-karlsruhe.de</a>
    </p>
</div>

<footer>
    <p>
        <a href="/">Home</a> |
        <a href="/impressum">Impressum</a> |
        <a href="mailto://info@dhbw-karlsruhe.de">info@dhbw-karlsruhe.de</a>
    </p>
</footer>

</body>
</html>