<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="/static/lobby-and-home.css">
</head>

<body>

<div class="container">

    <a href="/">
        <h1>WORDLE<br><em>online</em></h1>
    </a>
    <div id="error-message" class="error-message"></div>

    <div id="anweisung" class="visible">
        <p>Erstelle ein neues Spiel oder trete deinen Freunden bei!</p>
        <input type="text" id="name-input" placeholder="Gib hier deinen Namen an">
        <div>
            <button class="menu-button" id="show-create-game" onclick="showCreateGame()">Spiel erstellen</button>
            <!--    <input type="text" id="game-id-input" placeholder="Enter Game ID to Join" >-->
            <button class="menu-button" id="join-game" onclick="route2joinGame()">Spiel beitreten</button>
        </div>
    </div>

    <div id="modus-anweisung" class="hidden">
        <p>Wähle den Modus!</p>
        <!--        <button class ="menu-button" id="change-mode" onclick="changeMode()">1v1</button>-->
        <div id="moduswahl">
            <input type="radio" name="modus" id="1v1" value="1v1" checked />
            <label for="1v1">1v1</label>
            <input type="radio" name="modus" id="team" value="team" />
            <label for="team">Team</label>
        </div>
        <button class="toggle-button is-active" id="daily" onClick="toggleDaily()">Daily: aktiv</button>
        <button class="menu-button" id="create-game" onclick="createGame()">Spiel erstellen</button>
    </div>

</div>

<footer>
    <p>Impressum type shi</p>
</footer>

<script src="../static/lobby.js"></script>
</body>
</html>
