<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <style>
    body {
        font-family: sans-serif;
        display: flex;
        flex-direction: column; /* Vertikale Anordnung */
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #a0e0f0;
    }

    .button {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: #eee;
        font-size: 16px;
        cursor: pointer;
    }
  </style>
  <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>
<form th:action="@{/login}" method="post">
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>