<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Game</title>
  <link rel="stylesheet" href="../static/lobby-and-home.css">
</head>

<body class="bg-gray-900 text-gray-50">

<div class="container">

  <a href="/">
    <h1>WORDLE<br><em>online</em></h1>
  </a>

  <div id="error-message" class="error-message"></div>

  <input type="text" id="name-input" style="display: none" placeholder="Gib hier deinen Namen an">
  <input type="text" id="game-id-input" placeholder="Bitte Spiel-ID eingeben">
  <button class="menu-button" id="join-game" onclick="joinGame()">Spiel beitreten</button>

</div>

<footer>
  <p>
    <a href="/">Home</a> |
    <a href="/impressum">Impressum</a> |
    <a href="mailto://info@dhbw-karlsruhe.de">info@dhbw-karlsruhe.de</a>
  </p>
</footer>

<script src="../static/lobby.js"></script>
</body>
</html>
